export POSTGRES_DB=echo_agent_db
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_HOST=jr_echo_agent_db
export GOOGLE_DRIVE_CREDENTIALS_PATH=credentials.json
export GOOGLE_DRIVE_TOKEN_PATH=token.json